<!-- <div class="panel-heading">
    <div class="title">
        <span class="title-bold">PLATEFORMES</span> DE <br>RÉSERVES NATURELLES DE FRANCE
    </div>
    <div>
        <span class="subtitle"> TOUS LES OUTILS POUR VOUS ACCOMPAGNER DANS VOS PROJETS </span>
    </div>
</div> -->
<div class="container contenu">
    <div>
        Réserves Naturelles de France met à disposition de ses membres et de ses partenaire de nombreux outils pour les
        accompagner dans leurs projets et favoriser le réseau. <br><br>
        Un système d'authenfication centralisé sous <a href="https://github.com/PnX-SI/UsersHub">UsersHub</a> (outil de
        l'écosystème GeoNature) vous permet d'avoir un login et un mot de passe unique pour toutes les applications
        développées par RNF.
        Ces application sont identifiées par le symbole suivant : <fa-icon [icon]="faKey" class="green-icon"></fa-icon>
        <br><br>
        <div class="inscription-div">
            <span class="inscription"><a routerLink="/inscription">
                    <fa-icon [icon]="faUserPlus"></fa-icon> INSCRIVEZ-VOUS DÈS MAINTENANT EN CLIQUANT ICI
                </a></span>
        </div>
        <br>
        Votre inscription sera modérée par un administrateur, pour vérifier l'autorisation d'accès à une application selon votre profil. <br><br>
        Accédez aux plateformes de RNF :
        <button (click)="myFunction()">Click me</button> 
    </div>
    <!-- <div class="row"> -->
    <mat-grid-list cols="3" rowHeight="450px">
        <mat-grid-tile *ngFor="let app of Applications | randomOrder">
            <mat-card class="card">
                <mat-card-header>
                    <fa-icon *ngIf="app.si" [icon]="faKey" class="green-icon"></fa-icon>
                    <mat-card-title>{{app.nom}}</mat-card-title>
                </mat-card-header>
                <!-- <div> -->
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu"> -->
                        <img mat-card-image src="/assets/images/{{app.image}}" alt="">
                <!-- </div> -->
                <mat-card-content>

                    <p [innerHTML]="app.description">
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a href="{{app.url}}" target="_blank">
                        <fa-icon [icon]="faArrowUpRightFromSquare" size="xl"></fa-icon>
                    </a>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <br>
    <!-- </div> -->
</div>