<div id="login-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 mx-auto">
                <div class="panel panel-default panel-signin" style="padding: 20px">
                    <div class="panel-heading">
                        <div class="float-start">
                            <button mat-mini-fab mat-accent routerLink="/">
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                        </div>
                        INSCRIPTION AU SYSTÈME D'INFORMATION<br>DE RÉSERVES NATURELLES DE FRANCE
                        <br><br>
                    </div>
                    <div class="panel-body">
                        <form [formGroup]="form">
                            <h5>Utilisateur</h5>

                            <div class="form-group row">
                                <label for="prenom_role" class="col-md-3 col-form-label text-end">
                                    Prénom
                                </label>
                                <div class="col-md-9 col-lg-7">
                                    <input type="text" class="form-control" id="prenom_role" placeholder="Prénom"
                                        formControlName="prenom_role" />
                                    <small *ngIf="
                        form.get('prenom_role')!.hasError('required') &&
                        form.get('prenom_role')!.touched
                      ">
                                        Ce champ est nécessaire
                                    </small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="nom_role" class="col-md-3 col-form-label text-end"> Nom </label>
                                <div class="col-md-9 col-lg-7">
                                    <input type="text" class="form-control" id="nom_role" placeholder="Nom"
                                        formControlName="nom_role" />
                                    <small *ngIf="
                        form.get('nom_role')!.hasError('required') && form.get('nom_role')!.touched
                      ">
                                        Ce champ est nécessaire
                                    </small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-3 col-form-label text-end">
                                    Adresse email
                                </label>
                                <div class="col-md-9 col-lg-7">
                                    <input type="text"
                                        [ngClass]="form.disabled ? 'form-control-plaintext' : 'form-control'" id="email"
                                        placeholder="Email" formControlName="email" />
                                    <small *ngIf="
                        form.get('email')!.hasError('required') &&
                        form.get('email')!.touched
                      ">
                                        Ce champ est nécessaire
                                    </small>
                                    <small *ngIf="
                        form.get('email')!.hasError('email') &&
                        form.get('email')!.touched
                      ">
                                        Merci d'entrer un email valide
                                    </small>
                                </div>
                            </div>

                            <mat-divider></mat-divider>

                            <h5>Compte</h5>

                            <div class="form-group row">
                                <label for="identifiant" class="col-md-3 col-form-label text-end">
                                    Identifiant
                                </label>
                                <div class="col-md-9 col-lg-7">
                                    <input type="text" class="form-control" id="identifiant" placeholder="Identifiant"
                                        formControlName="identifiant" matTooltipPosition="above"
                                        matTooltip="Cet identifiant vous sera demandé pour vous authentifier sur les différentes plateformes." />
                                    <small *ngIf="
                        form.get('identifiant')!.hasError('required') &&
                        form.get('identifiant')!.touched
                      ">
                                        Ce champ est nécessaire
                                    </small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-3 col-form-label text-end">
                                    Mot de passe
                                </label>
                                <div class="col-md-9 col-lg-7">
                                    <input type="password" class="form-control" id="password" placeholder="Mot de passe"
                                        formControlName="password" />
                                    <small *ngIf="
                        form.get('password')!.hasError('required') && form.get('password')!.touched
                      ">
                                        Ce champ est nécessaire
                                    </small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password_confirmation" class="col-md-3 col-form-label text-end">
                                    Confirmation
                                </label>
                                <div class="col-md-9 col-lg-7">
                                    <input type="password" class="form-control" id="password_confirmation"
                                        placeholder="Confirmation du mot de passe" matTooltipPosition="above"
                                        matTooltip="Répéter le mot de passe précédemment saisi."
                                        formControlName="password_confirmation" />
                                    <small *ngIf="
                        form.get('password_confirmation')!.hasError('required') &&
                        form.get('password_confirmation')!.touched
                      ">
                                        Ce champ est nécessaire
                                    </small>
                                    <small *ngIf="
                        form!.controls['password_confirmation']?.errors?.['confirmedValidator'] && form.get('password_confirmation')!.touched
                      ">
                                        Erreur de confirmation du mot de passe
                                    </small>
                                </div>
                            </div>

                            <mat-divider></mat-divider>

                            <h5>Informations complémentaires</h5>

                            <div class="form-group row">
                                <label for="organisme" class="col-md-3 col-form-label text-end">
                                    Organisme
                                </label>
                                <div class="col-md-9 col-lg-7" style="text-align: justify">
                                    Recherchez votre organisme dans la liste, en tapant les premières lettres. S'il n'y
                                    est pas, cliquez sur "ajouter votre organisme" <br>
                                    <mat-select *ngIf="ogListe" placeholder="Sélectionner un organisme" #singleSelect
                                        class="form-control organisme" formControlName="id_organisme">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="orgFilterCtrl"
                                                placeholderLabel="Rechercher un organisme ...">
                                                <span ngxMatSelectNoEntriesFound>
                                                    Aucun OG trouvé
                                                    <button mat-button color="primary" (click)="nouvelOg()">
                                                        Ajouter votre organisme <mat-icon>add</mat-icon>
                                                    </button>
                                                </span>
                                            </ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let og of filteredOrgs | async" [value]="og.id_organisme">
                                            {{og.nom_organisme}}
                                        </mat-option>
                                    </mat-select>

                                    <input *ngIf="!ogListe" type="text" class="form-control organisme" id="organisme"
                                        placeholder="Taper le nom de l'organisme" formControlName="organisme" />
                                    <small *ngIf="
                                        form!.controls['organisme']?.errors?.['atLeastOneRequired'] && form.get('organisme')!.touched
                                      ">
                                        Ce champ est nécessaire
                                    </small>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="remarques" class="col-md-3 col-form-label text-end">
                                    Fonction
                                </label>
                                <div class="col-md-9 col-lg-7">
                                    <input type="text" id="remarques" class="form-control" placeholder="Fonction"
                                        formControlName="remarques">
                                    <small *ngIf="
                        form.get('remarques')!.hasError('required') &&
                        form.get('remarques')!.touched
                      ">
                                        Ce champ est nécessaire
                                    </small>
                                </div>
                            </div>
                            
                            <form [formGroup]="appFormGroup">
                            <div class="form-group row" *ngIf="organisme?.rns!.length>0">
                                    <label class="col-md-3 col-form-label text-end">Réserves sur lesquelles vous travaillez</label>
                                    <div class="col-md-9 col-lg-7">
                                    <ng-multiselect-dropdown formControlName="reserves" [settings]="reservesSelectSettings" [placeholder]='selectText'
                                      [data]="options" (onSelect)="onSelect($event)">
                                    </ng-multiselect-dropdown>
                                    <p>Le·la référent·e des réserves sélectionnées sera notifié·e de votre sélection.</p>
                                    </div>
                                    
                        </div>
                            <div class="form-group row" *ngIf="appFormGroup.get('reserves')?.value.length>0">
                                    <label class="col-md-3 col-form-label text-end">Réserves sur lesquelles vous indiquez être référent</label>
                                    <div class="col-md-9 col-lg-7">
                                    <ng-multiselect-dropdown formControlName="reserves_referent" [settings]="reservesSelectSettings" [placeholder]='selectText'
                                      [data]="appFormGroup.get('reserves')?.value">
                                    </ng-multiselect-dropdown>
                                    
                                    <p>Un·e référent·e doit être désigné·e par réserve, le plus souvent le·la conservateur·trice.</p>
                                    <p>Ce statut sera modéré par l'administrateur.</p>
                                    </div>
                                
                            </div>
                                <!-- <div class="form-group row">
                                    <label for="precisions" class="col-md-3 col-form-label text-end">
                                        Précisions
                                    </label>
                                    <div class="col-md-9 col-lg-7">
                                        <textarea type="text" id="precisions" class="form-control"
                                            placeholder="Précisions diverses..."
                                            formControlName="precisions"></textarea>
                                    </div>
                                </div> -->

                                <mat-divider></mat-divider>

                                <h5>Applications</h5>

                                <p>Si vous êtes gestionnaire de réserve naturelle, votre compte sera automatiquement validé, et vous aurez accès aux applications suivantes :</p>
                                <ul>
                                    <li>Tourbières</li>
                                </ul>

                                <p>Cochez les applications dont vous demandez l'accès, celui-ci sera modéré par un
                                    administrateur</p>

                                <p><b> Merci de ne pas cocher toutes les applications par curiosité, mais seulement celles dont vous avez besoin, et motivez votre demande. N'hésitez pas à <a href="mailto:si@rnfrance.org">contacter l'administrateur</a> pour plus de précision.</b></p>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div
                                            class=" col-md-6 form-check form-switch">
                                            <input formControlName="geonature_saisie" type="checkbox"
                                                class="form-check-input" id="geonature_saisie" value=2>
                                            <label class="form-check-label" for="geonature_saisie">GeoNature (gestion de vos données naturalistes))</label>
                                        </div>
                                        <div class="form-group row precisions" *ngIf="appFormGroup.get('geonature_saisie')!.value == true">
                                            <label for="precisions_geonature_saisie" class="col-md-4 col-form-label text-end">
                                                Précisez votre demande d'accès au GeoNature de RNF :
                                            </label>
                                            <div class="col-md-8 col-lg-7">
                                                <textarea type="text" id="precisions_geonature_saisie" class="form-control"
                                                    placeholder="Précisez votre demande"
                                                    formControlName="precisions_geonature_saisie"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div
                                            class="col-md-6 form-check form-switch">
                                            <input formControlName="psdrf" type="checkbox" class="form-check-input"
                                                id="psdrf" value=2>
                                            <label class="form-check-label" for="psdrf">Module PSDRF</label>
                                        </div>
                                        <div class="form-group row precisions" *ngIf="appFormGroup.get('psdrf')!.value == true">
                                            <label for="precisions_geonature_saisie" class="col-md-4 col-form-label text-end">
                                                Précisez votre demande d'accès au module PSDRF:
                                            </label>
                                            <div class="col-md-8 col-lg-7">
                                                <textarea type="text" id="precisions_psdrf" class="form-control"
                                                    placeholder="Précisez votre demande"
                                                    formControlName="precisions_psdrf"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div
                                            class="col-md-6 form-check form-switch">
                                            <input formControlName="ancrage" type="checkbox"
                                                class="form-check-input" id="ancrage" value=2>
                                            <label class="form-check-label" for="ancrage">Boîte à Outils
                                                Diagnotic d'Ancrage Territorial</label>
                                        </div>
                                        <div class="form-group row precisions" *ngIf="appFormGroup.get('ancrage')!.value == true">
                                            <label for="precisions_ancrage" class="col-md-4 col-form-label text-end">
                                                Précisez votre demande d'accès à la BAO DAT:
                                            </label>
                                            <div class="col-md-8 col-lg-7">
                                                <textarea type="text" id="precisions_ancrage" class="form-control"
                                                    placeholder="Précisez votre demande"
                                                    formControlName="precisions_ancrage"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-6 form-check form-switch">
                                            <input formControlName="opnl" type="checkbox" class="form-check-input"
                                                id="opnl" value=2>
                                            <label class="form-check-label" for="opnl">Plateforme OPNL (Accès réservé aux testeurs invités uniquement)</label>
                                        </div>
                                        <div class="form-group row precisions" *ngIf="appFormGroup.get('opnl')!.value == true">
                                            <label for="precisions_geonature_saisie" class="col-md-4 col-form-label text-end">
                                                Précisez votre demande :
                                            </label>
                                            <div class="col-md-8 col-lg-7">
                                                <textarea type="text" id="precisions_opnl" class="form-control"
                                                    placeholder="Précisez votre demande"
                                                    formControlName="precisions_opnl"></textarea>
                                            </div>
                                        </div>
                                </div>
                            </form>

                            <p>En demandant un accès à ces applications, vous consentez au respect des conditions
                                générales d'utilisation de celles-ci si votre demande est acceptée.</p>

                            <div class="text-center">
                                <button type="button" class="btn btn-success"
                                    [disabled]="!form.valid || !appFormGroup.valid || disableSubmit" (click)="save()">
                                    S'inscrire <span *ngIf="disableSubmit" class="spinner-border spinner-border-sm"
                                        role="status" aria-hidden="true"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>