<p>*** Ceci est un message généré automatiquement ***</p>
<p>Bonjour,</p>
<p>
  Pour votre information, un utilisateur vient d'effectuer une demande de création de compte 
  afin d'accéder à la BAO d'Ancrage.
</p>
<p>Voici les informations de l'utilisateur :</p>
<ul>
  <li><b>Nom :</b> {{user.nom_role}}</li>
  <li><b>Prénom :</b> {{user.prenom_role}}</li>
  <li><b>Email :</b> {{user.email}}</li>
  <li><b>Organisme :</b>{% if orgadb %}{{orgadb}}{% else %}{{user.organisme}} (<b><u>non référencé</u></b>){% endif%}</li>
  <li><b>Fonction :</b> {{user.remarques}}</li>
  <li><b>Précisions :</b> {{user.champs_addi.precisions}}</li>
</ul>

<p>
  Si cette demande ne vous parait pas justifiée, 
  <a href="mailto:si@rnfrance.org">envoyez un mail à l'administrateur du SI de RNF</a>.
</p>
<p>Bien cordialement,</p>
<p>l'administrateur.</p>
