<p>*** Ceci est un message généré automatiquement ***</p>
<p>Bonjour,</p>
<p>
  Un utilisateur vient de s'inscrire à la plateforme OPNL.
</p>
<p>Voici les informations de l'utilisateur :</p>
<ul>
  <li><b>Nom :</b> {{user.nom_role}}</li>
  <li><b>Prénom :</b> {{user.prenom_role}}</li>
  <li><b>Email :</b> {{user.email}}</li>
  <li><b>Organisme :</b> {{user.nom_organisme}}</li>
  <li><b>Fonction :</b> {{user.fonction}}</li>
  <li><b>Précisions :</b> {{user.precisions}}</li>
</ul>

<p>
Pour l'instant, cet utilisateur peut se connecter à la plateforme mais n'a aucun droits dessus. A vous de lui attribuer un rôle (contributeur ou partenaire) pour qu'il puisse avoir les droits nécessaires.
</p>
<p>
  Si cette demande ne vous parait pas justifiée,
  <a href="mailto:si@rnfrance.org">envoyez un mail à l'administrateur du SI de RNF</a>.
</p>
<p>Bien cordialement,</p>
<p>l'administrateur.</p>
