<p>*** Ceci est un message généré automatiquement ***</p>
<p>Bonjour {{ user.prenom_role }} {{ user.nom_role }},</p>
<p>Votre inscription au système d'information de RNF a été acceptée.</p>
<p>
    Sans mail complémentaire de notre part, vous pouvez accéder aux applications auxquelles vous avez demandé l'accès.
</p>
<p> Si vous n'arrivez pas à accéder à celles-ci d'ici 24h, contactez nous en répondant à cet email.</p>
<p>Pour rappel, votre identifiant de connexion est : {{ user.identifiant }}</p>


<p>Bien cordialement,</p>
<p>l'administrateur.</p>
