<p>*** Ceci est un message généré automatiquement ***</p>
<p>Bonjour,</p>
<p>Vous avez oublié votre identifiant / mot de passe pour accéder au SI de RNF.</p> 
<br>
<p>Pour rappel, votre identifiant et mot de passe sont communs à de nombreuses plateformes de RNF.</p>
<br>
<p>Voici vos informations pour vous connecter :</p>
<p><b> Identifiant :</b>  {{identifiant}}</p>
<p>
  Pour réinitialiser votre mot de passe,
  <a href="{{url_password}}">cliquez sur ce lien</a>.
</p>
<p>Bien cordialement,</p>
<p>l'administrateur.</p>