<p>*** Ceci est un message généré automatiquement ***</p>
<p>Bonjour {{ user.prenom_role }} {{ user.nom_role }},</p>
<p>Votre inscription au système d'information de RNF a été acceptée.</p>
<p>
    Vous avez pour l'instant accès aux applications générales de RNF (ouvertes à tous les inscrits). Vos demandes spécifiques pour des applications, s'il y en a, seront traitées par les équipes concernées.
</p>
<p> Si vous n'arrivez pas à accéder à celles-ci dans les prochains jours, contactez nous en répondant à cet email.</p>
<p>Pour rappel, votre identifiant de connexion est : {{ user.identifiant }}</p>


<p>Bien cordialement,</p>
<p>l'administrateur.</p>
