<p>*** Ceci est un message généré automatiquement ***</p>
<p>Bonjour,</p>
<p>
  Un utilisateur vient d'effectuer une demande de création de compte 
  afin d'accéder au module PSDRF de GeoNature.
</p>
<p>Voici les informations de l'utilisateur :</p>
<ul>
  <li><b>Nom :</b> {{user.nom_role}}</li>
  <li><b>Prénom :</b> {{user.prenom_role}}</li>
  <li><b>Email :</b> {{user.email}}</li>
  <li><b>Organisme :</b> {{user.organisme}}</li>
  <li><b>Fonction :</b> {{user.remarques}}</li>
  <li><b>Précisions :</b> {{user.champs_addi.precisions}}</li>
</ul>

<p>
  Pour valider cette demande, 
  <a href="https://usershub.reserves-naturelles.org">rendez-vous sur UsersHub</a>.
</p>
<p>Bien cordialement,</p>
<p>l'administrateur.</p>
